* {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}

body {
    display: flex;
    position: relative;
}


.top-navigation {
    border: 2px solid black;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6e6eb9;
    display: flex;
}

.top-navigation p {
    font-weight: bold;
    font-size: 2em;
    margin-left: 10px;
    padding: 10px;
}

.top-navigation button {
    position: absolute;
    right: 0;
    top: 10px;
    border: 2px solid white;
    width: 150px;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
}   

.hero-wrapper {
    position: absolute;
    top: 80px;
    left: 580px;
    font-weight: bold;
    font-size: 1.5em;
}

.hero-wrapper input{
    width: 100%;
    border: 2px solid hsl(0, 0%, 0%);
    font-size: 0.8em;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

.hero-wrapper input:hover {
    transform: scale(1.01);
}

.search-tags {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 180px;
    left: 700px;
    font-size: 1em;
    color: #6e6eb9;
    transition: all 0.3s ease-in;
}

.search-tags .pills:hover {
    color: #000;
    transform: scale(1.05);
}

.results {
    display: flex;
    gap: 20%;
    
}

.results .card {
    border: 1px solid black;
    width: 250px;
    height: auto;
    font-size: 1.3em;
    border-radius: 12px;
    box-shadow: 1px 4px 10px #474747;
    padding: 20px;
    flex-wrap: wrap;
}